.tabs {
  display: flex;
  height: 40px;
  background-color: #f5f7fa;
}

.tabLink {
  padding: 0 20px;
  font-size: 14px;
  transition: 0.1s;
  height: 100%;
  display: flex;
  align-items: center;

  &.active {
    background-color: #fff;
    color: #5f8fdf;
    pointer-events: none;
  }

  &:hover {
    color: #5f8fdf;
  }
}

.formWrapper {
  padding: 24px 32px;
  margin-top: 11px;

  >*{
    width: 50%;
  }
}