.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #4a596a;
}

.form {
  width: 340px;
  background-color: #fff;
  padding: 15px 30px 30px;
  box-shadow: 0 40px 90px 0 rgb(40 40 90 / 9%), 0 13px 30px 0 rgb(40 40 90 / 9%), 0 4px 13px 0 rgb(0 0 0 / 7%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  margin: 20px 0;
  width: 160px;
  padding: 9px 15px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  border: 1px solid #4a596a;
  color: #4a596a;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.1s;
  border-radius: 3px;

  &:hover, &:focus{
    border-color: #5f8fdf;
    color: #5f8fdf;
  }
}

.resendCode{
  color: #4a596a;
  cursor: pointer;
  font-size: 14px;

  &:hover, &:focus{
    color: #5f8fdf;
  }
}