.wrapper {
  display: flex;
  font-size: 18px;
  font-weight: 700;

  >* {
    display: grid;
    place-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .active {
    cursor: auto;
    pointer-events: none;
  }
}