.wrapper {
  position: relative;
  width: 200px;
  min-height: 150px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #dcdfe6;
}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
}

.avatar{
  margin-bottom: 5px;
}